.cmain{
    background-color: #f4b0d8b0;
    width: 1356px;
}

.ctittle{
    font-size: 27px;
    color: #f5f5f5;
    font-weight: bolder;
    letter-spacing: 3px;
}

.cnav{
    background: #16a3ce;
    height: 60px;
    width: 1356px;
    align-items: center;
    display: flex;
    justify-content: center;
}




/* CSS */
.csave
 {
  appearance: none;
  background-color: #2ea44f;
  border: 1px solid rgba(27, 31, 35, .15);
  border-radius: 6px;
  box-shadow: rgba(27, 31, 35, .1) 0 1px 0;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-family: -apple-system,system-ui,"Segoe UI",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji";
  font-size: 14px;
  font-weight: 600;
  line-height: 20px;
  padding: 6px 16px;
  position: relative;
  text-align: center;
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: middle;
  white-space: nowrap;
  margin-left: 28px;
}

.csave
:focus:not(:focus-visible):not(.focus-visible) {
  box-shadow: none;
  outline: none;
}

.csave
:hover {
  background-color: #2c974b;
}

.csave
:focus {
  box-shadow: rgba(46, 164, 79, .4) 0 0 0 3px;
  outline: none;
}

.csave
:disabled {
  background-color: #94d3a2;
  border-color: rgba(27, 31, 35, .1);
  color: rgba(255, 255, 255, .8);
  cursor: default;
}

.csave
:active {
  background-color: #298e46;
  box-shadow: rgba(20, 70, 32, .2) 0 1px 0 inset;
}


/**/


/* CSS */
.csend {
    top: 2px;
  align-items: center;
  background-clip: padding-box;
  background-color: #fa6400;
  border: 1px solid transparent;
  border-radius: .25rem;
  box-shadow: rgba(0, 0, 0, 0.02) 0 1px 3px 0;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  display: inline-flex;
  font-family: system-ui,-apple-system,system-ui,"Helvetica Neue",Helvetica,Arial,sans-serif;
  font-size: 16px;
  font-weight: 600;
  justify-content: center;
  line-height: 1.25;
  margin-left: 84px;
  padding: calc(.875rem - 1px) calc(1.5rem - 1px);
  position: relative;
  text-decoration: none;
  transition: all 250ms;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: baseline;
  border-radius: 6px;
    width: 166px;
    height: 39px;
  
}

.csend:hover,
.csend:focus {
  background-color: #fb8332;
  box-shadow: rgba(0, 0, 0, 0.1) 0 4px 12px;
}

.csend:hover {
  transform: translateY(-1px);
}

.csend:active {
  background-color: #c85000;
  box-shadow: rgba(0, 0, 0, .06) 0 2px 4px;
  transform: translateY(0);
}

/*cedit*/



/* CSS */


/* CSS */
.cbtntwo {
  appearance: none;
  border: 1px solid rgba(27, 31, 35, 0.15);
  border-radius: 6px;
  box-shadow: rgba(27, 31, 35, 0.04) 0 1px 0, rgba(255, 255, 255, 0.25) 0 1px 0 inset;
  box-sizing: border-box;
  cursor: pointer;
  display: inline-block;
  font-family: -apple-system, system-ui, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
  font-size: 14px;
  font-weight: 500;
  line-height: 20px;
  list-style: none;
  padding: 6px 16px;
  position: relative;
  transition: background-color 0.2s cubic-bezier(0.3, 0, 0.5, 1);
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: middle;
  white-space: nowrap;
  word-wrap: break-word;
  margin-top: -58px;
  background-color: #4343f4;
    color: white
}

.cbtntwo:hover {
  background-color: #F3F4F6;
  text-decoration: none;
  transition-duration: 0.1s;
}

.cbtntwo:disabled {
  background-color: #FAFBFC;
  border-color: rgba(27, 31, 35, 0.15);
  color: #959DA5;
  cursor: default;
}

.cbtntwo:active {
  background-color: #EDEFF2;
  box-shadow: rgba(225, 228, 232, 0.2) 0 1px 0 inset;
  transition: none 0s;
}

.cbtntwo:focus {
  outline: 1px transparent;
}

.cbtntwo:before {
  display: none;
}

.cbtntwo:-webkit-details-marker {
  display: none;
}

.cbtnthree{
  width: 55px;
    height: 34px;
    border-radius: 10px;
    background-color: #1919aaa8;
    color: white;
}

.cbtnfour{
  width: 55px;
    height: 34px;
    border-radius: 10px;
    margin-left: 9px;
    background-color: #4b9b4b;
    color: white;
}


/**/
.headtit{
  margin-left: 290px;
}
.form-popup {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #fff;
  padding: 20px;
  border: 1px solid #ccc;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
  z-index: 9999;
}

.form-popup h3 {
  margin-top: 0;
}

.form-popup label {
  display: block;
  margin-bottom: 5px;
}

.form-popup input,
.form-popup textarea {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
}

.form-popup textarea {
  height: 100px;
}

.barcode-container {
  margin-top: 20px;
  text-align: center;
}

.barcode-container img {
  width: 100px;
  height: 100px;
  object-fit: contain;
}

.button-group {
  display: flex;
  justify-content: space-between;
}

.cbtnfive{
  width: 55px;
    height: 34px;
    border-radius: 10px;
    background-color: #fa6400;
    color: white;
    border: none;
}

.cancel-button {
  width: 71px;
    height: 34px;
    border-radius: 10px;
    background-color: rgba(163, 14, 14, 0.902);
    color: white;
  border: none;
  margin-left: 10px;
  
}


/*form*/
.image-preview {
  text-align: center;
}

.image-preview img {
  max-width: 100%;
  height: auto;
  margin-bottom: 10px;
}


